<div class="min-h-screen flex flex-col items-center justify-center">
  <div class="bg-white shadow-lg rounded-xl p-6 max-w-2xl w-full">
  <h1 class="my-3 text-center text-4xl font-semibold text-sky-500">the fakebook</h1>
  <p class="text-l text-center">Connect with friends and the world around you on the fakebook.</p>
    <h2 class="text-2xl text-sky-500 py-3">Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="signIn()" class="space-y-6">
      <div class="mb-6">
        <input
          type="email"
          id="email"
          formControlName="email"
          class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
          placeholder="Type your email.."
          required
        />
        @let emailControl = loginForm.get('email');
        @if (emailControl?.invalid && emailControl?.touched) {
          <ul>
            @if (emailControl?.hasError('required')) {
              <li class="text-red-500 text-sm">Email is required.</li>
            }
            @if (emailControl?.hasError('email')) {
              <li class="text-red-500 text-sm">Please enter a valid email address.</li>
            }
          </ul>
        }
      </div>
      <div class="mb-6">
        <label for="password" class="block mb-2.5 text-sm font-medium text-heading">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
          placeholder="•••••••••"
          required
        />
        @let passwordControl = loginForm.get('password');
        @if (passwordControl?.invalid && passwordControl?.touched) {
          <ul>
            @if (passwordControl?.hasError('required')) {
              <li class="text-red-500 text-sm">Password is required.</li>
            }
            @if (passwordControl?.hasError('pattern')) {
              <li class="text-red-500 text-sm">
                Password must contain at least one uppercase letter, one lowercase letter, one
                number, and one special character.
              </li>
            }
          </ul>
        }
      </div>
      <button
        type="submit"
        [disabled]="loginForm.invalid"
        class="text-white bg-sky-500 box-border border border-transparent hover:bg-sky-600 focus:ring-4 focus:ring-sky-300 shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none disabled:cursor-not-allowed disabled:bg-sky-200"
      >
        Sign In
        @if (isLoading) {
          <span><i class="fa-solid fa-spinner fa-spin"></i></span>
        }
      </button>
    </form>
  </div>
</div>
