<nav class="bg-sky-500 fixed w-full z-20 top-0 border-b border-default">
  <div class="max-w-7xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a routerLink="/timeline" class="flex items-center space-x-3 rtl:space-x-reverse">
      <span class="self-center text-3xl text-white font-bold whitespace-nowrap font-sans">fakebook</span>
    </a>
    <button matButton [matMenuTriggerFor]="menu">
      <img class="w-10 h-10 rounded-full shadow-lg" src="user.png" alt="user photo" />
    </button>
    <mat-menu nclass="z-50 bg-neutral-primary-medium border border-default-medium rounded-base shadow-lg w-44" #menu="matMenu">
<!-- Dropdown menu -->
      <div

      >
        <ul class="p-2 text-sm text-body font-medium" aria-labelledby="user-menu-button">
          @if (isLoggedIn) {
            <li>
              <a
                [routerLink]="'/profile'"
                class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded"
                >Profile</a
              >
            </li>

            <li>
              <a
                (click)="logOut()"
                class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:cursor-pointer hover:text-heading rounded"
                >Sign Out</a
              >
            </li>
            <li>
              <a [routerLink]="'/change-password'" 
                class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded"
                >Change Password
              </a>
            </li>
          }
          @if (!isLoggedIn) {
            <li>
              <a
                [routerLink]="'/signin'"
                class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded"
                >Sign In</a
              >
            </li>
            

            <li>
              <a
                [routerLink]="'/signup'"
                class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded"
                >Register</a
              >
            </li>
          }
        </ul>
      </div>
    </mat-menu>
  </div>
</nav>
